.flat-list {
  display: grid;
  grid-row-gap: 1rem;
}

.flat-item {
  background-color: white;
  padding: 1.5rem;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.1);
  display: grid;
  grid-row-gap: 0.5rem;

  h2 {
    margin: 0 0 0 0;
  }
}

.not-found {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0.5);
}
